.dark-mode{
    background-color:darken($grisOscuro,10);
    
    p{
        color: $blanco;
    }


    a,h1,h2,h3,h4{
        color: $gris;
    }

    .anuncio, .resumen-propiedad{
        background-color: $grisOscuro;
        border: $gris;

        .precio{
            color: $verde;
        }

        .icono{
            filter: invert(60%);


        }

     

        

    

}

.texto-nosotros blockquote{
    color: white;

}

.formulario{

    legend{  
    color: $blanco;

    }


    label{
        color:$gris
    }

    input,select,textarea{
        background-color: $grisOscuro;
        border: 1px solid $negro;


    }

 
        
    }


















}


